# gitignore
# ignore venv named zen and other possible files
/venv/
/policybert/
# files in /datasets except for README.md
/datasets/*
!/datasets/README.md
!/datasets/policy_SM/
!/datasets/policy_SM_1/
# ignore all files in /models except for README.md
/models/*
!/models/README.md
!/models/model_merge.py
# ignore runs
/runs/
/results/
# ignore __pycache__ in all directories
__pycache__/
# ignore .DS_Store
.DS_Store
# ignore /pretrain_data except for folder test_data
/pretrain_data/*
!/pretrain_data/test_data/
!/pretrain_data/policy/
!/pretrain_data/stopword
# ignore .DS_Store in every files
**/.DS_Store
# ignore logs
/logs/
# ignore paper
# /paper