# gitignore
# ignore venv named zen and other possible files
/venv/
# files in /datasets except for README.md
/datasets/*
!/datasets/README.md
# ignore all files in /models except for README.md
/models/*
!/models/README.md
# ignore runs
/runs/
/results/
# ignore __pycache__ in all directories
__pycache__/

